.user-photo{
    max-width: 10%;
}
.userbox{
    // width: 10%
    float: right;
}

.login-box{
    float: right;
    // height: 50px;
}

.firebaseui-idp-icon{
    height: 50%;
}

.account-title{
    text-align: center;
}