.gen-row{
        padding: 5px;
    border: {
        style: solid;
        color: #DDDDDD;
        width: 1px;
    }
}
.gen-cell{
        padding: 5px;
    border: {
        style: solid;
        color: #DDDDDD;
        width: 1px;
    }
}

.searchbox{
    padding: 3rem;
    width: 100%;
    height: 50px;
    font-size: 3rem;

}

.searchtext{
    text-align: center;
}

.search-results {
    width: 100%;
    font-size: 3rem;
}

.nextbox {
    border: {
        style: solid;
        color: #DDDDDD;
        width: 1px;
    }
    padding: 10px;
    background-color: teal;
    color: white;
}

.not-chosen {
    width: 50%;
}

.chosen {
    width: 50%;
    background-color: #DDDEEE;
}